@media (--tablet) {
  body {
    --wp--preset--font-size--small: 12px;
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 24px;
    --wp--preset--font-size--x-large: 32px;
    --wp--preset--font-size--huge: 40px;
  }
}


h1,h2,h3,h4,h5,h6 {
  // No need since core already somehow has 600 weight.
  // font-weight: 600;
}


//          "size": "",
//
//          "size": "",
//
//          "size": "",
//
//          "size": "",
//
//          "size": "",
//
//          "size": "",