.wp-block-post-terms {
	display: flex;
	flex-wrap: wrap;

	&.taxonomy-category {

		a {
			padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
			margin: 5px;
			background-color: var(--wp--preset--color--raft-bg-alt);
			border-radius: 25px;
		}

		.wp-block-post-terms__separator {
			display: none;
		}
	}


	&.has-text-align-center {
		justify-content: center;
	}

	&.has-text-align-right {
		justify-content: flex-end;
	}
}
