<!-- wp:template-part {"slug":"Header","tagName":"header","theme":"raft"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"6vw","bottom":"6vw"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="padding-top:6vw;padding-bottom:6vw">
    <!-- wp:paragraph {"style":{"typography":{"fontSize":"180px","lineHeight":"1"}}} -->
    <p style="font-size:180px;line-height:1">404</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph {"className":"is-style-raft-line-after","fontSize":"large"} -->
    <p class="is-style-raft-line-after has-large-font-size">Unfortunately the page was not found.</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"label":"","showLabel":false,"placeholder":"Search for a term...","width":393,"widthUnit":"px","buttonText":"Search","style":{"border":{"radius":"4px"}},"backgroundColor":"raft-accent","textColor":"raft-fg-alt"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"Footer","theme":"raft","tagName":"footer"} /-->