<!-- wp:pattern {"slug":"raft/hero"} /-->

<!-- wp:group {"layout":{"inherit":false,"contentSize":"960px"}} -->
<div class="wp-block-group">
    <!-- wp:spacer {"height":"145px"} -->
    <div style="height:145px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column -->
        <div class="wp-block-column">
            <!-- wp:heading {"level":6,"style":{"typography":{"textTransform":"uppercase"}},"className":"is-style-raft-line-after"} -->
            <h6 class="is-style-raft-line-after" style="text-transform:uppercase">Subheader</h6>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"layout":{"contentSize":"460px"}} -->
        <div class="wp-block-column">
            <!-- wp:heading -->
            <h2>Raft is simple, powerful and efficient</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Raft is a free FSE theme by Otter, an awesome plugin for Gutenberg, made by your friends at
                Themeisle.</p>
            <!-- /wp:paragraph -->

            <!-- wp:spacer {"height":"30px"} -->
            <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons">
                <!-- wp:button -->
                <div class="wp-block-button"><a class="wp-block-button__link">Button</a></div>
                <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</div>
<!-- /wp:group -->


<!-- wp:group {"layout":{"contentSize":"960px"}} -->
<div class="wp-block-group">
    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column -->
        <div class="wp-block-column">
            <!-- wp:heading {"level":3} -->
            <h3>Meaningfully simple design &amp; style</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Raft is a free FSE theme by Otter, an awesome plugin for Gutenberg</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
            <!-- wp:heading {"level":3} -->
            <h3>Plenty of patterns to build new layouts</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Raft is a free FSE theme by Otter, an awesome plugin for Gutenberg</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
            <!-- wp:heading {"level":3} -->
            <h3>Multiple style variations</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Raft is a free FSE theme by Otter, an awesome plugin for Gutenberg</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</div>
<!-- /wp:group -->


<!-- wp:group {"layout":{"contentSize":"960px"}} -->
<div class="wp-block-group">
    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:separator {"className":"is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
    <!-- /wp:separator -->

    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%"></div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%">
            <!-- wp:paragraph {"fontSize":"x-large"} -->
            <p class="has-x-large-font-size">Raft is a free FSE theme by Otter, an awesome plugin for Gutenberg</p>
            <!-- /wp:paragraph -->

            <!-- wp:paragraph {"fontSize":"small"} -->
            <p class="has-small-font-size">Jason Stobbard</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:spacer {"height":"60px"} -->
    <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"Footer","theme":"raft","tagName":"footer"} /-->
